body {
  min-height: 100%;
}
.filterItem {
  display: none;
}

/*Filter styles*/

#filterSelector {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto 40px auto;
  text-align: center;
  background-color: #003a51;
  color: #fff;
  padding: 20px 20px;
}

#filterSelector > h4 {
  margin-top: 20px;
 
}

form {margin-bottom: 20px;}

h4 {
  margin-top:5px;
  margin-right: 20px;
}

label {
  margin-right: 30px;
  
}

.workRow {
  padding: 100px 0px 100px 0px;
  width: 80%;
  margin: 0 auto;
 
}


h4{
  font-weight: normal;
}



.work{
  width: 100%;
 
  background-color: salmon;
  height: 50px;
  display: inline-block;
}


#work1 {
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/8479341.54778fe9c87bf.png);
  height: 300px;
  background-size: cover;
}

.workInfo{
  background-color: rgba(0, 58, 81, 0.75);
  width: 100%;
  min-height: 50px;
}

@media only screen and (min-width: 800px) {
  #filterSelector {
    width: 50%;
  }
  #filterSelector h4:hover {
   text-decoration: underline;
   cursor: pointer;
   color:#fee3ed;
  }

  .work{
    width: 30%;
    margin:10px 20px;
  }
  
  .workRow {
    padding: 100px 50px 100px 50px;
  }
  
}
