

body {
    min-height: 100%;
}
#ProjectArea {
    display: none;
}

#toolsUsed{
    display: none;
}

/*Filter styles*/

#filterSelector{
    width: 100%;
    position: relative;
    display:block;
    margin:0 auto;
    text-align: center;
    background-color: #003a51;
    color: #fff;
    padding:20px 20px;
}

#filterSelector h4{
    margin-top:0px
}

label {
    margin-right:30px;
}


.workRow{
    padding: 100px 50px 100px 50px;
    background-color: salmon;
}

@media only screen and (min-width: 800px) {
 #filterSelector {
     width: 50%;
 }
}